In [5]:
s = 'saranjbule'
s1 = 'saranjbule'
print(id(s), id(s1))

53048008 53048008

In [11]:
l = [1, 2]
l1 = [1, 2]
print(id(l), id(l1))

52837208 53083008

In [12]:
t1 = (1, 2)
t = (1, 2)
print(id(t), id(t1))

52949496 51345440

In [13]:
d = {}
d1 ={}
print(id(d), id(d1))

51321448 51321496

In [1]:
i1 = -5
i2 = -5

print(id(i1), id(i2))

8538736 8538736

In [2]:
i1 = -15
i2 = -15

print(id(i1), id(i2))

45939216 32172600

In [ ]:
print('hello')